.folder{
    height: 300px;
}
.logotipo{
    height: 300px;
}
main{
    background-color: rgb(111, 197, 255);
    height: 2500px;
    color:rgb(5, 63, 236);
}
body{

    background-color: rgb(111, 197, 255);
}
header{
    background-color: rgb(13, 103, 182);
}
footer{
background-color: aqua;
height: 300px;
}
.logotipo{
    height: 100px;
}